# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*.log
replay_pid*.log

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/
gen/

# Build directories
build/
target/

# Maven
.mvn/
!/.mvn/wrapper/maven-wrapper.jar

# Gradle
.gradle/
build/

# Eclipse (caso o projeto tenha arquivos gerados por ele)
*.launch
.settings/
.project
.classpath

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini
